<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Please allow $(EXECUTABLE_NAME) to report your device&apos;s location when required for collaborations.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please allow $(EXECUTABLE_NAME) to report your device&apos;s location when required for collaborations.</string>
	<key>NSMotionUsageDescription</key>
	<string>Please allow $(EXECUTABLE_NAME) to detect your device&apos;s motion when required for collaborations.</string>
</dict>
</plist>
